<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body 
        h1(align="center") hola
        p ¿Como estan?
        br
        p ¿Espero que bien?
        p  hasta luego
        p Que duerman
        p zzzzz


